#commented the version to avoid potential confusion
#version: '3.9'

services:
  web:
    build: .
    container_name: social-backend
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:14
    container_name: social-postgres
    environment:
      POSTGRES_DB: socialdb
      POSTGRES_USER: social_user
      POSTGRES_PASSWORD: AASTUSOFT1
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
